RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^category/([0-9]+)$ category.php?id=$1 [QSA,L]
RewriteRule ^recipe/([0-9]+)$ recipe.php?id=$1 [QSA,L]
RewriteRule ^search$ search.php [QSA,L]