* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2F5333;
    --secondary-color: #f0f0f0;
    --text-color: #000000;
    --sidebar-color: #D7E0D8; 
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    overflow-y: auto; 
    height: 100vh;
    margin: 0;
    zoom: 1.1;
}

header {
    background: white;
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
    padding-left: 50px;
}
.main-nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.main-nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: var(--primary-color);
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-icons {
    display: flex;
    gap: 25px;
    padding-right: 50px;
}


.nav-icons a {
    color: var(--text-color);
    font-size: 20px;
    margin-right: 5px;
}
.dropdown {
display: inline-block;
position: relative;
}

.dropdown-menu {
display: none;
position: absolute;
background-color: white; 
min-width: 130px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
z-index: 1;
right: 0;
border-radius: 4px;
padding: 8px 0;
}

.dropdown-menu a {
color: black; 
padding: 8px 16px;
text-decoration: none;
display: block;
font-size: 14px;
}

.dropdown-menu a:hover {
background-color: #f0f0f0; 
}

.dropdown:hover .dropdown-menu {
display: block;
}

.search {
    background-color: var(--primary-color);
    padding: 75px 0;
    text-align: center;
}

.search-input {
    height: 80px;
    width: 900px;
    border-radius: 80px;
    font-size: 22px;
    line-height: 33px;
    padding-left: 77px;
    border: none;
}

.search-input::placeholder {
    color: #ACACAC;
}

.s-input-icon__search {
    color: #6F6F6F;
    position: relative;
    left: -875px;
    top: 6px;

}

.svg-icon:not(.native) * {
    fill: currentColor;
}